
snippet funh "A Funtion Definition (Header)"
${1:static }${2:void} ${3:foo}($4)${5: override}${6: final};
endsnippet

snippet templ "Template (typename)"
Template <typename${1:...} ${2:T}${3}>
endsnippet
